body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display:table;
}
body {
  display:table-cell;
  vertical-align:middle;
}

.col-sign-up{
  display: table; /* shrinks to fit conntent */
  margin: auto;
}

.col-sign-in{
  display: table; /* shrinks to fit conntent */
  margin: auto;
}

.col-sign-forget-password{
  display: table; /* shrinks to fit conntent */
  margin: auto;
}